<footer class="footer">
    <div class="footer-container">
        <section>
            <h2 class="footer-header">About</h2>
            <p class="footer-about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin finibus hendrerit mi non feugiat. Proin volutpat mollis tempor. In sapien arcu, ornare eu ex id, lobortis tristique eros. Aliquam scelerisque condimentum feugiat. Quisque facilisis viverra diam, at hendrerit est lobortis eu. Aliquam turpis mauris, molestie non augue ut, condimentum fringilla dui. </p>
        </section>
        <address>
            <h2 class="footer-header">Contact</h2>
            <ul>
                <li>Mail:<a>mailto:support@storewebsite.com</a></li>
                <li>Phone:<a>tel:+12345</a></li>
                <li>Mobile:<a>tel:+12345</a></li>
            </ul>
        </address>
    </div>
    <section class="footer-copyright">
        <p>&copy; 2025 Orp Way Store Website</p>
    </section>
</footer>