<section class="checkout">
    <div class="checkout-area">
        <div class="cart-list">
            <p *ngIf="cartItems.length == 0">O carrinho de compras está vazio</p>
            <div class="cart-item-card" *ngFor="let product of cartItems; let i = index">
                <div class="row">
                    <div class="cart-item-thumbnail">
                        <a class="product-link" routerLink="/products/{{ product.id }}">
                            <img src="{{ product.imageUrl }}" width="80px" height="80px" alt="{{ product.name}}">
                        </a>
                    </div>
                    <div class="cart-item-info">
                        <a class="product-link" routerLink="/products/{{ product.id }}">
                            <h2 class="product-name">{{ product.name | uppercase }}</h2>
                        </a>
                        <p class="product-description">{{ product.description }}</p>
                        <p>Código do produto: {{ product.id }}</p>
                        <label for="quantidade">Quantidade</label>
                        <input type="number" name="quantidade" min="0" max="100" value="1" #quantityInput (input)="onQuantityChange(quantityInput.value, product)">
                        <p class="product-price"  id="subtotal-info-{{i}}">{{ getSubtotalText(product, quantityInput.value) }}</p>
                        <button class="remove-from-cart-button" type="button" (click)="removeProduct(product.id)" [style.display]="quantityInput.value === '0' ? 'block' : 'none'">Remover</button>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="cart-payment">
            <h2>Pagamento</h2>
            <p>Total</p>
            <p>{{ getTotalPrice() | currency:'BRL'}}</p>
            <label for="parcelamento">Pague à vista ou parcele em até 12 vezes com juros</label>
            <select id="parcelamento" name="parcelas">  
                <option value="">Escolha a quantidade de parcelas</option>
                <option value="2">{{ 1000| parcelarEm : 2 }}</option>
                <option value="3">{{ 1000| parcelarEm : 3 }}</option>
                <option value="4">{{ 1000| parcelarEm : 4 }}</option>
                <option value="5">{{ 1000| parcelarEm : 5 }}</option>
                <option value="6">{{ 1000| parcelarEm : 6 }}</option>
                <option value="7">{{ 1000| parcelarEm : 7 }}</option>
                <option value="8">{{ 1000| parcelarEm : 8 }}</option>
                <option value="9">{{ 1000| parcelarEm : 9 }}</option>
                <option value="10">{{ 1000| parcelarEm : 10 }}</option>
                <option value="11">{{ 1000| parcelarEm : 11 }}</option>
                <option value="12">{{ 1000| parcelarEm : 12 }}</option>
            </select>
            <button type="button">Comprar</button>
        </div>
    </div>
</section>

    
