<header>
    <h1 class="store-title">
        <span>OrpWay</span><span>Store</span>
    </h1>
    <nav>
        <ul>
            <li>
                <a routerLink="/products">Products</a>
            </li>
            <li>
                <a routerLink="/contact">Contact</a>
            </li>
            <li>
                <a routerLink="/cart">Cart</a>
                <app-cart-counter></app-cart-counter>
            </li>
        </ul>
    </nav>
    <app-search-bar></app-search-bar>
</header>